

button:hover {
  background-color: grey;
}

.choices button {
  display: block;
}





.hide {
  display: none;
}

.start {
  text-align: center;
}

.scores {
  margin-top: auto;
  align-items: center;
}

.feedback {
  font-style: italic;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  color: gray;
  border-top: 2px solid #ccc;
}

la.timer {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
}

.assess hide {
  display: none;
}


